{
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
	height: 100%;
	font-size: 16px;
}

p {
	margin: 0;
	padding: 0;
	text-align: center;
}


figure {
	margin: 0;
	padding: 0;
	position: relative;
}

.tile-wrapper{
	position: relative;
	background-color: #fff;
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 20px;
	padding-bottom: 10px;
}

img {
	max-width: 100%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}



.container {
	max-width: 1000px;
	margin: 0 auto;
	
}

/*** FORMULAIRE ***/
.fomulaire {
	background: #305bff;
	font-size: .8em;
	height: 325px;	
	
}

.imgfond{
	background-image:url(images/lac.jpg);
}



/*** ARTICLES ***/
.article {
	float: left;
	width: 100%;
	padding: 1em;
}

.article article {
	width: 50%;
	float: left;
}
.article img {
	width: 100%;
}

.article figure {
	height: 150px;
	overflow: hidden;
	position :relative;
}

article figure h4{
	position:absolute;
	bottom: 0;
	left:0;
	right:0;
	text-align:center;
	z-index:20;
	color:white;
}

h1{
bottom: 25px;	
}

h3{
text-align:center;
	
}

article figure h5{
	position: absolute;
	background-color: #fff;
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
	border-radius: 10px;
	overflow: hidden;
	padding: 5px 10px;
	padding-top: 8px;
	top: 10px;
    right: 0;
	text-align:center;
	border-radius: 5px 0px 0px 5px;
	
}

h6{
bottom:20px;
	
}


.button{
	bottom:90px;
	}



.complement {
	width: 30%;
	float: left;
}

.description {
	background: #305bff;
	color: #FFF;
	font-size: .8em;
	//text-align: center;
	height: 325px;	
	
}

.btn-primary{
	background-color: green;
	
}

/*** alti'ude qu'est ce que c'est? ***/

.formulaire {
	background-color: #305bff;
	
}

.text-intro{
	text-align:center;
}


.text-block{
	background-color: white;
	margin-top: 40px;
	margin-bottom: 40px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.text-wrapper {
	padding:10px;
}

.picto{
	color: #2ecc71;
	text-align:center;
	margin-top: 110px;
	margin-bottom:20px;
}


.coucou {
	padding:0;
}

.text-wrapper p {
	color: black;
	padding-bottom:0;
	font-family:IBMPlexSans-Regular;
}

.text-wrapper h4{
	color: black;
	text-align:center;
	margin-bottom: 20px;
	margin-top: 0;
	font-family:IBMPlexSans-Regular;
}




/* ----------------------------- */
/* ---- PAGE ACCUEIL ------ */
/* ------------------------------ */