@import "compass";

$main-blue : #305BFF;
$main-green : #39ca74;
//$box-shadow : 2px 10px 25px rgba( 0, 0, 0, 0.1);
$box-shadow : 0px 0px 25px rgba( 0, 0, 0, 0.5);

html, body {
    font-size: 16px;
}

h1, h2, h3, h4 {
    text-transform: uppercase;
}

sup {
    text-transform: none;
}


/* --- NAVBAR --- */
.navbar {
    background-color:$main-blue;
    padding:0;
    margin-bottom: 0;
    font-family: IBMRegular;
    font-size:0.8em;

    @include box-shadow($box-shadow);
    @include border-radius(0px);


    #menu-trig{
        border-left: none !important;
        font-size: 2em;
        float:left;
        color: #FFF; 
        padding: 27px;
    }

    .brand {
        margin-top: 20px;
        border-left: none !important;
        font-size: 2.5em;
        color: #FFF;
        background-image: url(../image/LOGO.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left center;

        a {
            color:#FFF;
            opacity: 0.8;
            transition: 0.5s;
            padding:0;
            margin: 0;
            padding:20px;
            text-align: left;
            width: 100%;
            display: block;

            &:hover{
                opacity: 1;
                text-decoration: none;
                color: $main-green;
            }
        }
    }

    ul {
        text-align: right;
        padding: 0;
        margin: 0;

        li {

            margin:0;
            padding:0;
            display: inline-block;
            text-align: center;
            transition: 0.5s;
            border-left:1px solid rgba(255, 255, 255, 0.2);

            a {
                color:#FFF;
                opacity: 0.8;
                transition: 0.5s;
                padding:0;
                margin: 0;
                padding:20px;
                text-align: center;
                width: 100%;
                display: block;
            }

            &:hover a{
                opacity: 1;
                text-decoration: none;
                color: $main-green;
            }

            span {
                font-size: 1.2em;
                padding:0;
                margin: 0;
                margin-bottom: 5px;
                color: #FFF;
                opacity: 0.9;
                transition: 0.5s;
                display: block;
            }


            &:hover span {
                opacity: 1;
                color: $main-green;
            }
        }//fin ul

    }
}
/* --- /NAVBAR --- */

/* ------------------------------ */
/* --- FOOTER --- */

.footer { 
    margin-top: 80px;
    padding-top:20px;
    padding-bottom: 10px;
    background-color: $main-blue;
    color:#FFF;

    p{
        font-size:0.8em;
        font-family: IBMExtraLight;
    }


    h4 {
        font-size:1em;
        font-family: IBMSemiBold;
    }

    .copyright {
        bottom:0;
        font-size:0.7em;
    }

    .social-media {
        padding:5px;
        color:#FFF;
        transition-duration: 0.5s;

        &:hover {
            opacity:0.5;
        }
    }

}

/* ------------------------------ */
/* ---- BOUTONS VERTS : btn-vert  ---- */

.btn-vert {
    background-color:$main-green;
    color:#FFF;
    font-family: IBMLight;
    transition-duration: 0.5s;
}

.btn-vert:hover {
    background-color: transparent;
    border: 1px solid $main-green;
    color:$main-green;
}

/* ------------------------------ */
/* ---- BOUTONS BLANC : btn-blanc  ---- */

.btn-blanc {
    background-color: transparent;
    border: 1px solid $main-green;
    font-family: IBMLight;
    color:$main-green;
    transition-duration: 0.5s;
}

.btn-blanc:hover {
    background-color:$main-green;
    color:#FFF;
}

/* ------------------------------ */
/* --- SHADOW DES DIVISIONS : box-shadow --- */


.box-shadow {
    @include border-radius(15px);
    @include box-shadow($box-shadow);
}

/* ------------------------------ */
/* ------- PAGE CONTACT -------- */
/* ------------------------------ */


.page-contact h3 {
    font-family: IBMMedium;
    padding-bottom:20px;
    margin-top:50px;
    font-size: 1.5em;
}

/* ------------------------------ */
/* --- Fomulaire --- */

.formulaire p {
    padding-top:25px;
    color:#888888;
    font-size:0.8em;
}

.formulaire .btn {
    margin-top:30px;
}

.formulaire .box-answer {
    background-color: #F4F4F4;
    width:100%;
    border:none;
    border-radius: 5px;
    padding:5px;
}

.formulaire {
    height:450px;
    font-family: IBMRegular;
    padding:0;
    overflow: hidden;
    padding-bottom: 20px;
    position: relative;
}


.formulaire .photo {

    height:100%;
    margin:0;
    padding:0;

    object-fit: cover;
    position: absolute;
    height: 100%;

}



/* ------------------------------ */

/* ------- PAGE RECHERCHE -------- */
/* ------------------------------ */

.page-recherche {
    font-family: IBMRegular;
}

.bandeau-haut {
    margin-top: 30px;
    margin-bottom: 30px;
}

.bandeau-haut h3 {
    font-family: IBMMedium;
    font-size: 1.2em;
    padding: 0;
    margin:0;
}

.bandeau-haut .form-control {
    background-color:#F4F4F4;  
    color:#888888;
    border:none;
    @include box-shadow(none);
}

.bandeau-haut .btn {
    background-color:#F4F4F4; 
    border:none;
    border-left: 1px solid #DDDDDD;
    border-top: 1px solid #F4F4F4;
    border-bottom: 1px solid #F4F4F4;
    border-right: 1px solid #F4F4F4;

    color:#888888;

}

/* ------------------------------ */
/* ------- RESULTAT -------- */

.box-resultat {
    margin-top:30px;
    margin-bottom:30px;
    padding-right:0;
    height:200px;
    overflow:hidden;

    .image {
        padding: 0;
        position: relative;
        height:200px;

        p {
            text-align: left;
            i {
                color:#FFF;
                padding:8px;
                padding-left:12px;
                padding-right:12px;
                margin-right:3px;
                border-radius: 10px;
                border:1px solid rgba(255, 255, 255, 0.5);

            }
        }

        img{
            position: absolute;
            height: 100%;
            object-fit: cover;
            width: 100%;
            z-index: -1;
        }
    }

    h2{
        letter-spacing: -0.1em;
        text-align:right;
        color:$main-blue;
        margin-bottom: 0;

        sup{
            position: relative;
            font-size: .5em;
            vertical-align:middle;
            letter-spacing: normal;
            color: #888888;
        }
    }

    h4 {
        text-align: right;
        color:#888888;
        margin-top: 0;
    }

    p {

        font-size: 0.6em;
    }

    .summury {
        overflow: hidden;
        font-size: 0.8em;
        text-align:right;
        color:#888888;
        height: 56px;
    }

    .btn {
        margin-top:5px;
        font-size:0.8em;
        width: 100%;
    }

    h3 {
        color:#FFF;
        font-size: 1.2em;
        font-family: IBMMedium;
        padding-left:10px;
        padding-top:10px;
        padding-right:10px;

    }

    .bouton {
        margin:0;
        padding:1px;
    }
}

/* ------------------------------ */
/* ------- BOUTON AFFICHER PLUS -------- */



.btn-plus .btn {
    font-size: 0.8em;
    margin:30px 0;
}

/* ------------------------------ */
/* ------- MENU FILTRE  -------- */

.filtre {
    padding:0;
    padding-bottom: 20px;
    margin:0;
    margin-top:20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;


}

.filtre .title-menu {
    margin:0;
    padding:15px;
    padding-left:30px;
    border-top-right-radius: 15px;
    box-shadow: 0px 2px 20px rgba( 0, 0, 0, 0.05); 
    width:100%;
    color:#888888;
}

.filtre .title-menu h4 {
    font-size: 1em;
}

.filtre form {
    padding-left:30px;
    color: $main-blue;
    font-size:0.8em;
}

.filtre form .categorie-title {
    font-size: 1em;
    color:#888888;
    margin-top:20px;
    text-transform: uppercase;
}

/* -- Select  -- */

.filtre form select {
    border:1px solid $main-blue;
    background-color: #FFF;
    color:$main-blue;

}

/* -- Checkbox  -- */

input[type=checkbox].custom-check{
    display: none;
}

label.custum-radio {
    input[type="radio"] {
        display:none;
    }

    span:before {
        content:'\f10c';
        font-family: 'FontAwesome';
        display: inline-block;
        margin-right:8px;
    }

    input[type="radio"]:checked + span:before {
        content:'\f05d';

    }

}

label.custom-check{
    display: block;

}

label.custom-check:before{
    content: '\f096';
    font-family: 'FontAwesome';
    display: inline-block;
    margin-right: 5px;
}

input[type=checkbox].custom-check:checked + label.custom-check:before {
    content: '\f046';
    margin-right: 3px;
}

form ul {
    text-decoration: none;
    list-style: none;

}


#menu {
    padding:0;
}

#menu .choose  {
    border-bottom : 1px solid $main-blue;
    padding-bottom: 5px;
    margin-bottom : 10px;
}

#menu li ul {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
    padding-left:10px;

}


input[type=checkbox].list-box{
    display: none;
}

label.list-box{
    display: block;

}


input[type=checkbox].list-box:checked + label.list-box:before + ul {
    height: 0;
    overflow: hidden
}

#menu li.is-open ul{
    max-height: 10vh;
}


/* -- Range  -- */
.range-wrapper{

    position: relative;
    padding-bottom: 40px;

    input[type='range'] {
        margin-top:20px;
        -webkit-appearance: none !important;
        background:#DDDDDD;
        height:1px;
        outline: none !important;
    }
    input[type='range']::-webkit-slider-thumb {
        height:15px;
        width:15px;
        margin: 40px 0;

        -webkit-appearance: none;
        @include border-radius(100%);

        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        @include background-image(url(../image/range-slider.svg));

    }

    .range-progress{
        position: absolute;
        height: 3px;
        @include border-radius(5px);
        background-color: $main-blue;
        width: 0%;
        left: 0;
        top: 37px;
    }

    output {
        color:#fff;
        @include background-image(url(../image/cursor.svg));
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        text-align: center;
        width: 20px;
        position: absolute;
        z-index: -1;
        bottom: -0px;
    }
}


/* ------------------------------ */
/* -------  PAGE FORMULE  -------- */
/* ------------------------------ */

/* -------  SLIDER  -------- */

.page-formule .header-slide {
    height:600px;
    margin:0;
    padding:50px;
    padding-top:150px;
    background-image: url(../image/img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*filter: linear-gradient($main-blue, $main-green);*/
    color:#FFF;
    font-family: IBMRegular;

}



.header-slide h3 {
    padding: 0;
    margin:0;
    font-family: IBMMedium;
    font-size: 3em;
    margin-bottom:15px;
}

.header-slide p {
    font-size: 0.8em;
    margin-bottom: 15px;
}

.header-slide .icone .fa {
    border:1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding-top:8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    margin:5px;
    margin-bottom:75px;

}

.header-slide .btn {
    font-size: 1.2em;
    padding:15px;
    padding-left:25px;
    padding-right:25px;
    border-radius: 15px;
    float: left;
}

.header-slide .price-formule {
    text-align: right;
    font-size: 5em;
    letter-spacing: -0.1em;
    font-family: IBMRegular;
    margin:0;
    padding:0;

}

.header-slide .price-formule sup {
    position: relative;
    vertical-align:middle;
    letter-spacing: normal;
}

.header-slide h2 {
    text-align: right;
    font-size: 3em;
    letter-spacing: -0.1em;
    font-family: IBMLight;
    margin:0;
    padding:0;
}

/* -- responsive --*/
@media only screen and (max-device-width:780px) {
    .page-formule .header-slide {
        padding-top:80px;

    }

}

@media only screen and (max-device-width:480px) {
    .page-formule .header-slide {
        padding-top:50px;

    }

    .header-slide {
        padding: 0;
        margin:0;
        font-size: 0.8em;
        margin-bottom:5px;
    }

    .header-slide .icone .fa {
        margin-bottom: 20px;
    }

    .header-slide h2 {
        margin-bottom: 40px;
        text-align: right;
    }

    .header-slide h1 {
        text-align: right;
    }
}

/* -------------------------- */
/* -------  RESUME  -------- */

.resume {
    margin-top:-50px;
    padding-left:50px;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #fff;
    font-family: IBMRegular;
}

.resume h2 {
    font-family: IBMMedium;
    margin-left:0px;
}

.resume h4 {
    font-family: IBMItalic;
    font-size: 1em;
    margin-bottom: 30px;
}

.resume p {
    color:#888888;
    font-size: 0.8em;
}

.resume h3 {
    color: #000000;
    font-size: 1.2em;
    margin-top:30px;
    margin-bottom: 20px;
}

.resume i {
    color:$main-blue;
}

.resume .note i {
    margin:0;
    color:$main-green;
}

.resume .note .fa-tripadvisor {
    color:#888888;
}

.colonne-resume {
    padding-right:50px;
    height:100%;
}

.colonne-eval {
    padding-left:50px;
}

/* -- responsive --*/

@media only screen and (max-device-width:780px) {
    .resume {
        padding:20px;
        padding-top: 20px;
    }


    .colonne-eval {
        padding-left:20px;
    }
}

@media only screen and (max-device-width:480px) {
    .colonne-resume {
        padding:10px;
        padding-top: 0;
        padding-bottom: 20px;
        border-right:0px solid #888888;
        border-bottom: 1px solid #888888;
    }
}



/* -------------------------- */
/* -------  MA FORMULE  -------- */


.reservation {
    margin-top:50px;
    padding-left:50px;
    padding-bottom: 35px;
    padding-top: 30px;
    background-color: #fff;
    font-family: IBMRegular;
}


.reservation h2 {
    font-family: IBMMedium;
    margin-left:0px;
}

.reservation p {
    color:#888888;
    font-size: 0.8em;
}

.reservation .title-reservation {
    color:#000000;
    font-size: 1em;
    margin-bottom: 10px;
    font-family: IBMMEdium;
}

.reservation h3 {
    letter-spacing: -0.1em;
    color: $main-blue;
    font-size: 1.6em;
    font-family: IBMLight;
    margin:0;
    margin-bottom: 10px;
}

.reservation h4 {
    padding-top:5px;
    margin:0;
    font-size: 1.2em;
    font-family: IBMLight;
    color:#888888;
}

.reservation .prix-duree {
    padding-left:0;
}


.reserv-img {
    overflow: hidden;
    height:100%;
    margin:0;
    padding:0;

    background-image: url(../image/img1.jpg);
    background-size: cover;
    background-position: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


.reservation-info {
    margin-top: 15px;
    padding-right:0;
    height:90px;
    font-family: IBMRegular;
    border-radius: 10px;
    background-color: #F4F4F4;
}

.reservation .btn {
    margin-top: 15px;
    font-size: 1.2em;
    height:90px;
    border-radius: 10px;
    margin-left:20px;
}

/* -- responsive --*/

@media only screen and (max-device-width:780px) {
    .reservation {
        padding:40px;
        padding-top: 20px;
    }


    .reservation .btn {
        margin-left: 10px;
        font-size:1em;

    }

    .reservation h4 {
        font-size: 1em;
    }

    .reservation h3 {
        font-size: 1.1em;
    }
}

@media only screen and (max-device-width:480px) {
    .reservation-info {
        height:135px;
    }

    .reservation .btn {
        margin-left: 0;

    }
}

/* -------------------------- */
/* ------- LE PLANNING  -------- */

.planning {
    margin-top : 60px;
    padding: 0;

}

.planning .title-planning {
    color:#000000;
    font-family: IBMMEdium;
    font-size: 1.5em;
    margin: 0;
    padding:0;
}

.planning .teaser {
    color:#000000;
    font-family: IBMMedium;
    font-size: 0.8em;
    margin-bottom: 40px;
}

.planning div {
    color:$main-blue;
    border-left: 2px solid $main-blue;
    padding-left:43px;
    padding-top:10px;
    padding-bottom: 20px;
    margin:0;

}

.planning div h3 {
    font-size: 1em;
    font-family: IBMMedium;
    padding:0;
    margin:0;
    margin-top:-15px;

}

.planning div h3::before {
    content: '\f111';
    font-family: 'FontAwesome';
    margin-right: 40px;
    margin-left: -50px;

}

.planning div h4 {
    font-size: 0.8em;
    font-family: IBMRegular;
    padding:0;
    margin:0;
    margin-bottom:10px;
}

.planning div p {
    font-size: 0.8em;
    font-family: IBMRegular;
    color:#888888;
}

.content-wrapper {
    margin-top: 40px;
}


/* ----------------------------- */
/* ---- PAGE ACCUEIL ------ */
/* ------------------------------ */



.page-accueil {
    #bg {
        background-image: url(../image/cover.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

    }
    .header-form {
        height:600px;
        padding:50px;
        padding-top:150px;
        /*filter: linear-gradient($main-blue, $main-green);*/
        color:#FFF;
        font-family: IBMRegular;
    }

}

.page-accueil .swiper-form {
    background-color: #FFF;
    color:#000000;
    padding: 0px 40px;
}

.page-accueil .swiper-form {
    h2 {
        padding:30px 20px;
        margin-bottom:30px;
        border-bottom:1px solid #888888;

    }

    p {
        font-family: IBMRegular;
        margin-bottom: 20px;
        color:#888888;
    }

    label {
        font-family: IBMRegular;
        color:#888888;
        display: inline-block;
        margin-right: 20px;
        margin-bottom:20px;
    }

    .btn-form {
        border-radius:500px;
        padding:30px;
        margin-bottom:-30px;
        position: relative;
        width: 70px;
        height:70px;

        &:hover {
            background-color: white;
        }

        i {
            position: absolute;
            left:50%;
            top:50%;
            @include transform(translate(-50%,-50%));
            font-size: 2.5em;
        }
    }

    .swiper-pagination-bullet {
        margin:2px;
        background-color:#888888;
        border-radius: 0px;
        width:30%;
        height:2px;
        max-width: 100px;
    }

    .swiper-pagination-bullet-active {
        background-color: #39ca74;

    }

}

.page-accueil .proposition {
    margin-top: 50px;
}

.page-accueil hr {
    margin-bottom: 10px;
    padding: 0;
}

.page-accueil h2 {
    font-family: IBMMedium;
    margin:0;
    padding:0;

}

.page-accueil p {
    font-family: IBMRegular;
}

.page-accueil .btn-plus .btn {
    margin-top:30px;
    font-size: 1em;
}



/* ----------------------------- */
/* ---- PROPOSITION ------ */

.page-accueil .formule-proposee {
    padding: 0;
    padding-bottom: 20px;
    margin-top: 50px;
}

.formule-proposee .row {
    margin: 0;
    padding: 0;
}

.formule-proposee .image {
    margin: 0;
    background-image: url(../image/img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.formule-proposee .image h2 {
    padding:20px;
    padding-top:300px;
    color: #FFF;
    padding-bottom: 20px;
    font-family: IBMMedium;
    font-size: 1.2em;
    text-align: center;

}

.formule-proposee .info {
    padding: 0;
    padding-top: 15px;
    padding-bottom: 5px;
}

.formule-proposee .info h2 {
    letter-spacing: -0.1em;
    color: $main-blue;
    font-size: 1.5em;
    font-family: IBMLight;
    margin:0;
    padding: 0;

    margin-bottom: 10px;
}


.formule-proposee .info h4 {
    padding: 0;
    padding-top:5px;
    margin:0;
    font-size: 1.2em;
    font-family: IBMLight;
    color:#888888;
}




.formule-proposee .btn-vert, .formule-proposee .btn-blanc {
    margin-top:5px;
    max-width: 200px;
    float:none !important;

} 




/* ----------------------------- */
/* ---- QU'EST CE QU'ALTI'UDE ------ */


.explain .title-explain {
    height:350px;
    background-color: $main-blue;
    color: #FFF;
    padding-top :30px;
    margin-top: 0px;
    font-family: IBMRegular;
    margin-bottom:-175px;
}

/* ---- box-explain ------ */

.search-research {
    margin-bottom: 80px;
}

.box-explain {
    background-color: #FFF;
    padding:0;
    font-family:IBMRegular;
    color: #888888;
    margin-bottom :50px;
    position: relative;
    overflow: hidden;
}

.box-explain .image {
    height:100%;
    margin: 0;
    height: 100%;

    position: absolute;

    object-fit: cover;
    padding: 0 !important;


}

.box-explain .text-wrapper {
    padding:50px;
}
.box-explain p {
    text-align:center;
}

.box-explain p i {
    padding:20px;
    border:2px solid $main-green;
    border-radius: 100px;
    color:$main-green;
}

.box-explain h4 {
    font-family: IBMMedium;
    text-align: center;
    padding:20px;

}

//au dessus de md
@media screen and (min-width:992px) {
    .hide-md-bef {
        display:none !important;
    }

    .filter-wrapper{padding-left: 0;}

}

//en dessous de md
@media screen and (max-width:991px) {

    .navbar {

        .brand{
            padding-left: 0;
            padding-right: 0;
        }

        #menu-trig{
            padding-left: 15px;
            padding-right: 15px;

            &.icon-menu + .menu-wrapper{
                max-height: 0px;
            }

            &.icon-close + .menu-wrapper{
                max-height: 100vh;
            }
        }

        .menu-wrapper{

            overflow: hidden;
            @include transition(max-height 0.3s);

            li{
                display: block;
                border-left: none;
                padding: 0 15px;

                a{
                    padding: 10px 0;
                    text-align: left;

                    span{
                        display: inline-block;
                        margin-right: 10px;
                        vertical-align: middle;
                        font-size: 1.35em;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    .box-explain .image {
        position: static;
        height:250px;
        margin: 0px ;
    }

    .formulaire .photo {
        height:250px;
        position: static;
    }

    .formulaire {
        height:auto;
    }

    .box-resultat{
        height: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        padding-bottom:20px;
    }

    .bandeau-haut{
        margin-top: 50px;
    }

    .info h2{
        margin-top: 10px;
        text-align: left;
    }

    .info h4{
        margin-top: 15px;
    }

    .summury{
        text-align: left !important;
        height: auto !important;
        overflow: visible !important;
    }

    .filtre{
        border-radius: 15px !important;
        overflow: hidden;
    }

    .filtre .title-menu{
        padding-left: 15px;
    }

    .filtre form{
        padding-left: 15px;
    }

    .filtre .search-wrapper{
        margin-top: 30px;
    }

    .page-formule {
        .header-slide{
            padding: 20px 35px;
            font-size: 14px;
            padding-bottom: 100px;
            height: auto;
        }

        .icone i{margin-bottom: 20px !important;}
    }

    .reservation{
        padding-left: 15px !important;
        padding-right: 15px !important;

        .btn{
            margin-left: 0 !important;
            height: auto;
            white-space: normal;
        }
    }

    .to-hide{
        overflow: hidden;
        max-height: 0;
        @include transition(max-height 0.5s);
    }

    .is-open{
        max-height: 100vh;
    }

}

//à partir de sm
@media screen and (min-width:769px) {
    .hide-desktop {
        display:none !important;
    }

    .text-left .btn-blanc{
        width: auto;
        margin-left: -15px;
    }

    .box-resultat{
        padding-bottom:0px;
    }
}

@media screen and (max-width:768px){

    .header-slide{
        font-size: 12px;

        h2{
            font-size: 2em;
            &.price-formule{
                font-size: 2.5em;
            }

        }
    }

}